*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
ul{
  list-style-type: none;
}
#contenitore-top{
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 144px;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
#logo{
  padding-top: 24px;
  padding-bottom: 24px;
  align-self: flex-start;
  width: 8%;
  padding-left: 12px;
}
#bottone{
  padding-top: 24px;
  padding-bottom: 24px;
  align-self: flex-end;
  padding-right: 24px;
}
#bottone button{
  border: 1px white solid;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: black;
  font-size: 12px;
}
#bottone button span{
  color: white;
}
#corpo{
  height: calc(100vh - 90px);
  width: 100%;
  background: #141922;
  display: flex;
}
#playlist{
  height: calc(100vh - 90px);
  width: 230px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.titoli{
  padding-top: 96px;
}
.titoli > ul{
  padding-bottom: 16px;
}
.titoli > ul > li{
  padding-left: 12px;
  padding-top: 12px;
}
.titoli > ul > li:hover{
  border-left: 1px solid green;
  color: white;
}
.titoli > ul > li > img{
  width: 25%;
  padding-right: 12px;
}
span{
  color: white;
}
h3{
  color: white;
  padding-left: 12px;
}
.cubo{
  border: 1px white solid;
  background-color: white;
}
.fa-plus{
  font-size: 20px;
  color: black;
}
.spazio{
  padding-left: 12px;
}
#fine li:first-child{
  border-bottom: 2px solid white;
  padding-bottom: 12px;
  padding-left: 12px;
}
.spazio2{
  padding-top: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
}
#fine img{
  width: 20%;
  padding-right: 12px;
}
#album{
  padding-left: 24px;
  height: 100%;
  width: calc(100% - 192px);
  overflow-y: scroll;
}
.titolo2{
  padding-top: 96px;
  text-align: center;
}
.titolo2 ul li{
  flex-grow: 1;
  color: white;
  display: inline-block;
  padding-right: 12px;
  padding-bottom: 24px;
}
.titolo2 ul li::after{
  content: "";
  display: block;
  position: relative;
  background: green;
  height: 3px;
  width: 40%;
  margin-left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.titolo2 ul li:hover::after{
  opacity: 1;
}
.recenti{
  padding-bottom: 48px;
}
.conteiner{
  display: flex;
  justify-content: flex-start;
}
.album1{
  flex-shrink: 0;
  width: calc(100% / 6);
  padding-right: 12px;
}
.album1 .image img{
  max-width: 100%;
}
.text{
  text-align: center;
}
.recenti h2{
  color: white;
}
.creatoper h2{
  color: white;
}
.creatoper h3{
  color: white;
  padding-top: 12px;
  padding-left: 0;
}
.artistipiu {
  padding-top: 48px;
  padding-bottom: 12px;
}
.artistipiu h2{
  color: white;
}
.artistipiu  h3{
  color: white;
  padding-top: 12px;
  padding-left: 0;
}
.cerchio{
  border-radius: 100%;
  overflow: hidden;
}
#riproduttore{
  height: 90px;
  width: 100%;
  background: #282828;
  display: flex;
  justify-content: space-between;
}
#riproduttore .start img{
  height: 100%;
  width: auto;
  padding-right: 24px;
}
#riproduttore .start{
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
}
#riproduttore .start span{
  color: white;
}
#riproduttore .start i{
  color: white;
  display: inline-block;
  padding-left: 36px;
}
#riproduttore .center{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-basis: 33%;
}
.icon{
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}
#riproduttore .center ul{
  display: flex;
  align-items: center;
}
#riproduttore .center ul li{
  display: inline-block;
  color: white;
  padding-right: 16px;
}
#riproduttore .center ul li .fa-play-circle{
  font-size: 181%;
}
.festivalbar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.timer{
  padding-left: 12px;
  padding-right: 12px;
}
.playerbar{
  width: 80%;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.playerbarmini{
  width: 26%;
  height: 4px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}
.playerbar:hover .playerbarmini{
  background-color: green
}
.littlecircle{
  position: relative;
  top: -210%;
  left: 25%;
  background-color: white;
  display: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.playerbar:hover .littlecircle{
  display: block;
}
#riproduttore .end{
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  width: 10%;
}
.end ul li{
  display: inline-block;
  color: white;
  width: 20%;
  padding-right: 24px;
}
