*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#contenitore-top{
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 144px;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
#logo{
  padding-top: 24px;
  padding-bottom: 24px;
  align-self: flex-start;
  width: 8%;
  padding-left: 12px;
}
#bottone{
  padding-top: 24px;
  padding-bottom: 24px;
  align-self: flex-end;
  padding-right: 24px;
}
#bottone button{
  border: 1px white solid;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: black;
  opacity: 0.5;
  font-size: 12px;
}
#bottone button span{
  color: white;
}
#corpo{
  height: calc(100vh - 120px);
  width: 100vw;
  background: #141922;
  display: flex;
}
#playlist{
  height: calc(100vh - 120px);
  width: 10vw;
  background-color: black;
  display: flex;
  justify-content: center;
}
#album{
  padding-left: 24px;
  height: 100%;
  width: 90vw;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}
#riproduttore{
  position: fixed;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  opacity: 0.7;
  z-index: 99;
}
