*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul{
  list-style-type: none;
}
#contenitore-top{
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 144px;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
#logo{
  padding-top: 24px;
  padding-bottom: 24px;
  align-self: flex-start;
  width: 8%;
  padding-left: 12px;
}
#bottone{
  padding-top: 24px;
  padding-bottom: 24px;
  align-self: flex-end;
  padding-right: 24px;
}
#bottone button{
  border: 1px white solid;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: black;
  opacity: 0.5;
  font-size: 12px;
}
#bottone button span{
  color: white;
}
#corpo{
  height: calc(100vh - 72px);
  width: 100%;
  background: #141922;
}
#playlist{
  height: calc(100vh - 72px);
  width: 192px;
  background-color: black;
}
.titoli{
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.titoli > ul{
  padding-bottom: 16px;
}
.titoli > ul > li{
  padding-left: 12px;
  padding-top: 12px;
}
.titoli > ul > li:hover{
  border-left: 1px solid green;
  color: white;
}
.titoli > ul > li > img{
  width: 25%;
  padding-right: 12px;
}
span{
  color: white;
}
h3{
  color: white;
  padding-left: 12px;
}
.cubo{
  border: 1px white solid;
  background-color: white;
}
.fa-plus{
  font-size: 20px;
  color: black;
}
.spazio{
  padding-left: 12px;
}
#fine{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#fine li{
  align-self: flex-end;
}
#fine img{
  width: 20%;
  padding-right: 12px;
}
#album{
  padding-left: 24px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}
#riproduttore{
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  opacity: 0.7;
}
